$font-family:'Roboto', sans-serif;
$background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
$secondary-font: 'Beth Ellen', cursive;
$color-white: rgb(255, 255, 255);
$text-align: center;
$margin: 10px;
$text-align: center;
$color: pink;



/*maps*/

$estilos: (
  color:  rgb(99, 13, 76),
  tFuente: 35px,
  1rem : 1rem,
);